@charset "utf-8";
@import "normalize";
@import "skeleton";

@mixin animation($time) {
  -webkit-transition: $time all cubic-bezier(0, 1, 0.5, 1);
  -moz-transition: $time all cubic-bezier(0, 1, 0.5, 1);
  transition: $time all cubic-bezier(0, 1, 0.5, 1); 
}

@font-face {
  font-family: Circular;
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 300;
}

@font-face {
  font-family: CircularMedium;
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 400;
}

.josh {
  height: 100vh; 
  font-family: 'Circular', sans-serif;
  text-rendering: geometricPrecision;
  background: url('../images/joshbg3.jpg') no-repeat center center;
  background-size: cover;  

  .joshbg {
    width: 1000px;
    position: fixed;
      top: 75px;
      left: 0; 
      right: 0; 
      margin-right: auto;
      margin-left: auto;
      z-index: 3; 
  }

  .joshbg2 {
    z-index: 1;
  }

  .picjosh {
    width: 100px; 
    opacity: 0; 
    position: fixed; 
      z-index: 2; 
      top: 490px; 
      right: 40%; 
  @include animation (1s);
  }

  .show {
    width: 300px;
    top: 280px;
    opacity: 1;
  }

  
}

// .layer {
//   width: 100%; 
//   height: 100%; 
//   position: fixed; 
//   top: 0; 
//   left: 0;
//   background: linear-gradient(#87daef, #73f2c6);
//   opacity: 0.89;
// }

.button-container {
  position: relative; 
  width: 100%; 
  top: 710px;
  text-align: center;
  width: 100%; 
  z-index: 9999;

  .check {
    border-radius: 500px;
    background: #fff;
    border: none;
    color: #5b7693;
    height: auto;
    margin: 0 auto;
    padding: 5px 30px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);

    @include animation(1s);

    &:hover {
      transform: translateY(-6px);
      -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    }
  }
}



// Confetti 
#confetti{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  pointer-events: none;

  @include animation(1s);
}


// 3d font

.stage {
  width: 100%;
  text-align: left;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
  opacity: 0; 
  pointer-events: none;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  pointer-events: none;
  opacity: 1;
  animation-fill-mode: forwards;
  transform: rotateY(10deg) rotateX(13deg) translateZ(0);
}

.layer:after {
  font: 150px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
  content: 'You Bet!';
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  color: darken(#fff, 4%);
  letter-spacing: -2px;
  pointer-events: none;
  text-shadow: 4px 0 10px hsla(0, 0%, 0%, .13);
}

$i: 1;
$NUM_LAYERS: 20;
@for $i from 1 through $NUM_LAYERS {
  .layer:nth-child(#{$i}):after {
    transform: translateZ(($i - 1) * -2px);
  }
}

.layer:nth-child(n+#{round($NUM_LAYERS/2)}):after {
  -webkit-text-stroke: 3px hsla(0, 0%, 0%, .25);
}

.layer:nth-child(n+#{round($NUM_LAYERS/2 + 1)}):after {
  -webkit-text-stroke: 15px dodgerblue;
  text-shadow: 6px 0 6px darken(dodgerblue, 35%), 5px 5px 5px darken(dodgerblue, 40%), 0 6px 6px darken(dodgerblue, 35%);
}

.layer:nth-child(n+#{round($NUM_LAYERS/2 + 2)}):after {
  -webkit-text-stroke: 15px darken(dodgerblue, 10%);
}

.layer:last-child:after {
  -webkit-text-stroke: 17px hsla(0, 0%, 0%, .1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}




// footer

footer {
  width: 100%; 
  position: fixed; 
  bottom: 50px;
  text-align: center;
  font-size: 1.3em;
  color: white;
  font-family: 'Circular', sans-serif;
}

footer a {
  color: white;
}
