---
title: Moment Interns Win
---

<div class="container header">
	<div class="row">
		<div class="columns twelve">
			<h1>Moment Interns Win</h1>
			<h4>A collection of passion projects made by Moment interns</h4>
		</div>
	</div>

	<div class="row project">
		<div class="four columns title">
			<span class="subtitle">Project</span>
			<h1>Where is PK?</h1>
		</div>

		<div class="three columns">
			<span class="subtitle">Makers</span>
			<h1><a href="http://itsdpark.com" target="_blank">itsdpark </a></h1>
		</div>
		<div class="three columns">
			<span class="subtitle">Intern Program</span>
			<h1>Summer 2016</h1>
		</div>
		<div class="two columns">
			<span class="subtitle">Link</span>
			<h1><a href="http://whereisphilip.kim" target="_blank">Visit Site</a></h1>
		</div>
	</div>

	<div class="row project">
		<div class="four columns title">
			<span class="subtitle">Project</span>
			<h1>Is it Josh o'clock?</h1>
		</div>

		<div class="three columns">
			<span class="subtitle">Makers</span>
			<h1><a href="http://itsdpark.com" target="_blank">itsdpark</a>, <a href="http://andrea-everman.format.com/" target="_blank">aeverman</a></h1>
		</div>
		<div class="three columns">
			<span class="subtitle">Intern Program</span>
			<h1>Summer 2016</h1>
		</div>
		<div class="two columns">
			<span class="subtitle">Link</span>
			<h1><a href="/josh" target="_blank">Visit Site</a></h1>
		</div>
	</div>

	<div class="row project">
		<div class="four columns title">
			<span class="subtitle">Project</span>
			<h1>Who's the real Baller?</h1>
		</div>

		<div class="three columns">
			<span class="subtitle">Makers</span>
			<h1><a href="http://itsdpark.com" target="_blank">itsdpark</a>, <a href="http://www.iangmorrow.com/" target="_blank">iangmorrow</a></h1>
		</div>
		<div class="three columns">
			<span class="subtitle">Intern Program</span>
			<h1>Summer 2016</h1>
		</div>
		<div class="two columns">
			<span class="subtitle">Link</span>
			<h1><a href="http://swishes.herokuapp.com/" target="_blank">Visit Site</a></h1>
		</div>
	</div>


</div>
