---
title: Is it Josh O'Clock?
layout: josh
---

<canvas height='1' id='confetti' width='1' style="opacity: 0;"></canvas>

<div class="button-container">
  <a href="#" class="button check">Is it Josh o'clock?</a>
  <h2 class="time"></h2>
  <div class="stage">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
  </div>
</div>

<%= image_tag "joshbg.png", :class => 'joshbg' %>
<%= image_tag "joshbg2.png", :class => 'joshbg joshbg2' %>
<%= image_tag "josh.png", :class => 'yesjosh picjosh' %>
<%= image_tag "joshcry.png", :class => 'nojosh picjosh'%>

<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <p>Crafted by <a href="http://itsdpark.com" target="_blank">itsdpark</a> and <a href="http://andreaeverman.com/" target="_blank">aeverman</a> while being a part of the <a href="http://momentinterns.win" target="_blank">MomentInternsWin</a> project</p>
      </div>
    </div>
  </div>
</footer>